body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

li {
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: 300;
}

p {
  color: #e5e7eb;
  font-weight: 300;
  font-size: 1.125rem;
}

.container {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 794px;
}
/* header */
.header {
  background-color: #1f2937;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo-text {
  font-size: 1.7rem;
  color: #f9faf8;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}

.header-info-container {
  display: flex;
  margin-top: 60px;
}

.header-info {
  width: 400px;
}

.header-info > h1 {
  color: #f9faf8;
  margin: 0;
  font-size: 2.25rem;
}

.header-info > p {
  margin: 3px 0 0px;
}

.placeholder-image {
  width: 400px;
  height: 200px;
  background: lightblue;
  margin-left: 40px;
}

.signup-button {
  background: #3882f6;
  border: none;
  color: #f9faf8;
  padding: 8px 25px;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 15px;
}

/*///////// second section //////////*/

/* container of image boxes */

.image-container {
  text-align: center;
  margin-bottom: 100px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.information-header {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 50px;
}

/* size of images */
.image-box {
  width: 169px;
  height: 150px;
}

.image-box > .image {
  border-radius: 5%;
}

.image-info {
  display: flex;
}

.image-text {
  color: #1f2937;
}

/* ///////third section//////// */
.quote-section {
  background: #e5e7eb;
  min-height: 400px;
}

.quote-text {
  font-size: 2.25rem;
  color: #1f2937;
  font-weight: 300;
}

.author {
  text-align: right;
  font-weight: 700;
  font-size: 1.125rem;
  color: #1f2937;
}

/* fourth-section */
.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3882f6;
  padding: 50px 10px;
  border-radius: 8px;
}

.signup-border {
  border: 2px solid #f9faf8;
  margin-left: 90px;
}

.action-text {
  font-size: 1.15rem;
  font-weight: 700;
  margin: 0;
}

.signup-info {
  font-size: 0.9rem;
  margin-top: 5px;
}

/* footer */
.footer {
  min-height: 100px;
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: center;
}
